.regulartext {
    color: black;
    text-decoration: none;
}

.here {
    color: rgb(255, 255, 255);
}

.btn {
    background-color: rgb(190, 159, 55);
    color: rgb(255, 255, 255);
    width: 500px;
    height: 50px;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.btn:hover {
    background-color: dimgrey;
    color: rgb(189, 175, 175);

}


.hall-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}